/* You can add your own CSS in this file. 
   As this file is loaded last, you can override other CSS styles, if needed.     
*/


/* use this class to hide elements 
   the space for the element will NOT be preserved
*/
.hidden {
    display: none;
}

/* use this class to make elements not visible
   the space for the element WILL be preserved
*/
.invisible {
    visibility: hidden;
}

/* use this class to make error text red */
.error {
    background-color: red;
}

.centered{
    text-align: center;
}

